In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns
import plotly.express as px

In [4]:
df_2019 = pd.read_csv('2019_scores.csv')

In [6]:
df_2019.columns

Index(['date', 'away_team', 'away_runs', 'away_hits', 'away_errors',
       'home_team', 'home_runs', 'home_hits', 'home_errors'],
      dtype='object')

In [7]:
df_2019[['away_team','away_runs','home_team','home_runs']]

     away_team  away_runs  home_team  home_runs
0     Mariners          9  Athletics          7
1      Pirates          6      Twins          5
2       Tigers          3   Phillies          1
3      Marlins          6  Cardinals          0
4      Yankees          1     Astros          2
...        ...        ...        ...        ...
2477    Braves          6       Mets          7
2478    Tigers          3  White Sox          5
2479   Brewers          3    Rockies          4
2480      Cubs          0  Cardinals          9
2481     Twins          4     Royals          5

[2482 rows x 4 columns]

In [8]:
df_2019[df_2019['home_runs'] > df_2019['away_runs']]

,date,away_team,away_runs,away_hits,away_errors,home_team,home_runs,home_hits,home_errors
4,2019-03-20,Yankees,1,4,2,Astros,2,6,0
10,2019-03-20,Angels,2,8,0,Indians,4,8,0
13,2019-03-20,Indians,0,4,0,Giants,13,16,0
15,2019-03-21,Astros,3,7,1,Tigers,5,6,0
16,2019-03-21,Orioles,5,7,0,Pirates,7,7,0
...,...,...,...,...,...,...,...,...,...
2477,2019-09-29,Braves,6,11,0,Mets,7,15,0
2478,2019-09-29,Tigers,3,7,1,White Sox,5,4,0
2479,2019-09-29,Brewers,3,7,2,Rockies,4,8,1
2480,2019-09-29,Cubs,0,3,0,Cardinals,9,9,0
2481,2019-09-29,Twins,4,6,0,Royals,5,9,0

In [10]:
df_2019['date'] = pd.to_datetime(df_2019['date'])

In [17]:
first_games = df_2019[(df_2019['date'] <= '2019-03-21')
                      & (df_2019['away_team'] == 'Mariners')]
regular_start = df_2019[df_2019['date'] >= '2019-03-28']

In [22]:
df_2019 = pd.concat([first_games, regular_start]).reset_index(drop=True)

In [28]:
df_2019['loser'] = np.where(df_2019.away_runs < df_2019.home_runs,
                 df_2019['away_team'], df_2019['home_team'])

In [30]:
df_2019.drop('winner', axis=1, )

,date,away_team,away_runs,away_hits,away_errors,home_team,home_runs,home_hits,home_errors,loser
0,2019-03-20,Mariners,9,7,1,Athletics,7,9,0,Athletics
1,2019-03-21,Mariners,5,9,1,Athletics,4,10,0,Athletics
2,2019-03-28,Mets,2,5,0,Nationals,0,5,0,Nationals
3,2019-03-28,Orioles,2,8,0,Yankees,7,9,1,Orioles
4,2019-03-28,Cardinals,4,5,0,Brewers,5,7,0,Cardinals
...,...,...,...,...,...,...,...,...,...,...
2372,2019-09-29,Braves,6,11,0,Mets,7,15,0,Braves
2373,2019-09-29,Tigers,3,7,1,White Sox,5,4,0,Tigers
2374,2019-09-29,Brewers,3,7,2,Rockies,4,8,1,Brewers
2375,2019-09-29,Cubs,0,3,0,Cardinals,9,9,0,Cubs
2376,2019-09-29,Twins,4,6,0,Royals,5,9,0,Twins

In [ ]:
df_2019['Most errors'] = np.where(df_2019.away_errors > df_2019.home_errors,
                 df_2019['away_team'], df_2019['home_team'])